# {{ .api.Name }}
{{ if .api.Logo -}}
<p align="center">
    <img width="256" src="{{ .api.Logo }}" alt="{{ .api.Name }} Logo"/>
</p>
{{- end }}

{{ .api.Description }}

##  🔗 Links
**Docs / Website**: {{ .api.URI }}

## 🧬 Specification:
**Type**: {{ if  .api.SpecificationType }}{{ .api.SpecificationType }}{{ else }}N/A{{ end }}

**URI**: {{ if  .api.SpecificationUri }}{{ .api.SpecificationUri }}{{ else }}N/A{{ end }}

## 💬 Discussion:
{{ if .api.DiscussionURI -}}[Discuss {{ .api.Name }}](.api.DiscussionURI){{else}}[Create discussion](https://github.com/apis-list/apis-list/discussions/new){{ end }}

## 🗄️ Categories:
{{ range .api.Categories -}}
- [{{ . }}](https://github.com/apis-list/apis-list#{{ . | slug }})
{{ end }}

{{ if .Libraries }}
## 🗂️ Libraries
{{ range $platform, $libraries := .Libraries }}
### {{ $platform }}
{{- range $libraries  }}
- {{ .Name }}: [Documentation]({{ .HomepageURI }}){{ if .SourceCodeURI }}, [Source code]({{ .SourceCodeURI }}){{ end }}
{{- end }}
{{ end }}
{{ end }}
