# {{ .api.Name }}
{{- if .api.Logo -}}
<p align="center">
    <img width="400" src="{{ .api.Logo }}" />
</p>
{{- end }}

{{ .api.Description }}

{{- if .api.DiscussionURI -}}
💬 Discussion: [Discuss {{ .api.Name }}](.api.DiscussionURI)
{{- end }}

**Categories**:
{{ range .api.Categories }}
- [{{ . }}](https://github/apis-list/apis-list#{{ . | slug }})
{{ end }}

{{ if .Libraries }}
## 🗂️ Libraries
{{ range $platform, $libraries := .Libraries }}
### {{ $platform }}
{{- range $libraries  }}
- {{ .Name }}: [Documentation]({{ .HomepageURI }}), [Source code]({{ .SourceCodeURI }})
{{- end }}
{{ end }}
{{ end }}
